.main-side {
  .main-carousel {
    margin-top: -45px;
    height: 650px;

    .carousel-control {
      display: none;
    }

    .carousel-indicators {
      li {
        margin-left: 3px;
        margin-right: 3px;
        border-color: @color-vts;

        &.active {
          border-color: white;
          background: @color-vts;
        }
      }
    }

    .carousel-inner {
      .active {
        min-height: 650px;
      }
    }
  }
}