<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active">Homepage</li>
                <li>Giới thiệu</li>
                <li>Sản phẩm</li>
                <li>Dịch vụ</li>
                <li>Giải pháp</li>
            </ul>
        </div>
    </div>
</nav>