<div ng-include="'templates/header.html'"></div>
<div class="list-product">
    <div class="container">
        <div class="container-heading">
            <h3>Icom</h3>
        </div>
        <div class="container-left">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="product-body">
                        <div class="product-item">
                            <div class="product-item-body">
                                <div class="product-item-image">
                                    <img src="assets/products/ic-f3002.jpg" class="img-responsive">
                                </div>
                                <div class="product-item-title"><h4>IC-F3002</h4></div>
                                <div class="product-item-description">
                                    <p>
                                        5W (VHF), 4W (UHF)<br />
                                        136 - 174 MHz / 400 - 470 MHz<br />
                                        16 kênh nhớ<br />
                                        Công suất âm thanh 800mW
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-body">
                                <div class="product-item-image">
                                    <img src="assets/products/ic-f3002.jpg" class="img-responsive">
                                </div>
                                <div class="product-item-title"><h4>IC-F3002</h4></div>
                                <div class="product-item-description">
                                    <p>
                                        5W (VHF), 4W (UHF)<br />
                                        136 - 174 MHz / 400 - 470 MHz<br />
                                        16 kênh nhớ<br />
                                        Công suất âm thanh 800mW
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-body">
                                <div class="product-item-image">
                                    <img src="assets/products/ic-f3002.jpg" class="img-responsive">
                                </div>
                                <div class="product-item-title"><h4>IC-F3002</h4></div>
                                <div class="product-item-description">
                                    <p>
                                        5W (VHF), 4W (UHF)<br />
                                        136 - 174 MHz / 400 - 470 MHz<br />
                                        16 kênh nhớ<br />
                                        Công suất âm thanh 800mW
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right">

        </div>
    </div>
</div>
<div ng-include="'templates/footer.html'"></div>