//bootstrap
@import '/vendor/Font-Awesome/less/font-awesome';
@import '/node_modules/bootstrap/less/bootstrap';
@import 'variables/vts-variables';
@import 'color';
@import 'mixin/styles';

//app
@import 'dashboard/header';
@import 'dashboard/index';
@import 'dashboard/footer';

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  overflow-x: hidden;
}

.padding-none {
  padding: 0 !important;
}

.margin-none {
  margin: 0 !important;
}