<div class="container padding-none footer-side">
    <div class="slogan">
        * Chào mừng các Bạn đã truy cập vào Trang tin điện tử của chúng tôi, một thành viên của đại gia đình Icom Inc.
        (Nhật Bản)
    </div>
    <div class="list-menu">
        <div class="col" ng-repeat="element in data.listMenu">
            <ul class="list-group">
                <li class="list-group-item">{{element.title}}</li>
                <li class="list-group-item" ng-repeat="item in element.list">
                    <a href="#/">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container padding-none social">
    More way to find us: <span class="fa fa-facebook-square"></span><span class="fa fa-twitter-square"></span> | call: <span class="btn-link">(84-8) 5431 9100</span> - <span class="btn-link">(84-8) 5431 9102</span>
    <hr />
    <span class="copyright">Copyright @2015, Viet Technical Solution JSC, Icom Authorized Distributor in Vietnam<br>Powered by Thanh Binh</span>
</div>