<div class="container padding-none footer-side">
    <div class="slogan">
        * Chào mừng các Bạn đã truy cập vào Trang tin điện tử của chúng tôi, một thành viên của đại gia đình Icom Inc. (Nhật Bản)
    </div>
    <div class="list-menu">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">Máy bộ đàm chuyên dụng</li>
                <li class="list-group-item"><a href="#/">Máy cầm tay</a></li>
                <li class="list-group-item"><a href="#/">Trạm cố định và di động</a></li>
                <li class="list-group-item"><a href="#/">Máy thu phát sóng ngắn HF</a></li>
                <li class="list-group-item"><a href="#/">Máy Bộ Đàm License Free</a></li>
                <li class="list-group-item"><a href="#/">Trạm lặp lại vô tuyến điện</a></li>
                <li class="list-group-item"><a href="#/">Thiết bị thông tin khác</a></li>
            </ul>
        </div>
    </div>
</div>