<nav class="navbar navbar-default" ng-include="'templates/header.html'"></nav>
<div class="container-fluid main-side padding-none" ng-controller="IndexController" ng-init="event.onLoad()">
    <div class="main-carousel">
        <carousel interval="data.interval" no-wrap="data.noWrapSlides">
            <slide ng-repeat="slide in data.slides" active="slide.active" carousel-height>
                <img ng-src="{{slide.image}}">
            </slide>
        </carousel>
    </div>
    <div class="list-brands">
        <div class="col" ng-repeat="brand in data.brands">
            <img ng-src="{{brand.image}}">
        </div>
    </div>
    <div class="promotion-caption">
        <a href="#/">Khuyến mãi mua Icom tặng tai nghe <span class="fa fa-angle-right"></span></a>
    </div>
</div>
<footer class="container-fluid"
        ng-include="'templates/footer.html'"
        ng-controller="FooterController"
        ng-init="event.onLoad()"></footer>